.sendButtonDesign {
  height: auto;
  width: auto;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 0.9em;
  background-color: #0d479f;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.362)
  );
  color: white;
  cursor: pointer;
  transition: 0.1s;
  margin: 1em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: solid 0.1em white;
  user-select: none;
}

.sendButtonDesign:hover {
    border-radius: 0.9em;
    background-color: rgb(13, 164, 13);
  color: white;
  transition: 0.1s;
  transform: scale(1.05);
  border: solid 0.1em white;

}

.sendButtonDesign:active {
    background-color: rgb(12, 89, 12);
    border-radius: 0.9em;
    color: white;
    transform: scale(0.9);
    background-image: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 0, 0, 0)
      );
      border: 0.1em inset rgb(12, 89, 12);
}
