.simpleContactCardDesign {
  height: auto;
  width: 100%;
  margin-top: 2em;
}

.contactFormContainer {
  height: auto;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 2em rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.contactTitle {
  background-color: #cb1111;
  user-select: none;
  margin-bottom: 0.5em;
border-top-left-radius: 0.4em;
border-top-right-radius: 0.4em;
  font-size: 200%;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.174)
  );
  color: white;
  font-family: emoji;
  font-weight: bold;
  text-shadow: 0.04em 0.02em 0.01em rgba(0, 0, 0, 0.842);
}

.captchaContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 1em;
  height: 2.5em;
}

.inputNameDesign {
  font-family: Futura,Open Sans,sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: rgb(15, 15, 15);
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  user-select: none;
  width: 70%;
}

.inputText {
  
  height: 1.5em;
  width:60%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: white;
  text-align: center;
  border: rgb(37, 36, 36) solid 0.1em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

