.registerDesign {
    height: 85vh;
    width: 100vw;
    background-color:rgb(255, 231, 166);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    }