
.authLink:hover {
    border-radius: 1em;
    background-color: white;
    color:black;
  }
  
  .authLink {
    height: 100%;
    display: flex;
    font-size: 80%;
    margin-right: 1em;
    cursor: pointer;
    align-items: center;
    text-align: center;
    color: white;
    padding-left: 2em;
  }
