.loginFormTitle {
  font-size: 150%;
  padding-right:0.5em;
  padding-left:0.5em;
  padding-top: 0.3em;
  width: 100%;
  text-align: center;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.4em;
  color: black;
  font-weight: bold;
}

.catchaHomeContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .catchaHomeContainer {
    width: 70%;
    display: flex;
    justify-content: center;
  }
}

.errorText {
  color: red;
}

.errorInput {
  border: red solid 0.2em;
}

.inputTextDesign {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.formBackgroundDesign {
  background-color: white;
  border-radius: 0.5em;
  width: 100%;
}