
.menuFontDesign {
    cursor: pointer;
    user-select: none;
    color: rgb(56, 53, 53);
    user-select: none;
    font-weight: 500;

  }
  
  .menuFontDesignSelected {
    cursor: pointer;
    user-select: none;
    color: rgb(0, 0, 0);
    width: auto;
    user-select: none;
    font-weight: bold;
  }

  .redesignButton {
    margin: 0.5em;
    background-color: rgb(0, 119, 255);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: white;
    border-radius: 0.3em;
    user-select: none;
    cursor: pointer;
  }

  .redesignButtonAlert {
    margin: 0.5em;
    background-color: rgb(255, 0, 0);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: white;
    border-radius: 0.3em;
    user-select: none;
    cursor: pointer;
  }

  @media (min-width: 992px) {
   
        .titleAppointmentDesign{
          font-size:150%
        }
        .titleUserDesign {
    font-size:250%
        }
     
    }