.TreatmentCardDesign {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:1em;
}

.treatmentImage {
  height: 7.5em;
  width: 8em;
  background-color: white;
  border-radius: 50%;
  margin: 1em;
  box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.5);
}

.treatmentImage img {
height: 100%;
width: 100%;
border-radius: 50%;
}



.treatmentText {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.treatmentTitle {
  height: 25%;
  width: 90%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: emoji;
  font-size: 130%;
  align-items: flex-end;
  user-select: none;
cursor: pointer;
}

.treatmentTitle:hover {

  background-color: white;
  border-radius: 1.5em;
  color: #0d259f;
  width: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
user-select: none;
cursor: pointer;
}

.treatmentTitle:active {

transform: scale(0.9);
}

.treatmentDescription {
    height: 60%;
    width: 90%;
    color: rgb(38, 37, 37);
    font-weight: 600;
    font-size: 100%;
    margin-top: 0.5em;
    background-color: rgba(255, 255, 255, 0.909);
    border-radius: 0.5em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;

}
