.captchaCardDesign {
  background-color: rgb(255, 252, 252);
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.194)
  );
  height:100%;
  width: 100%;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 0.3em;
  box-shadow: 0 0 0em 0.08em rgba(11, 11, 11, 0.415);
}

.checkCaptcha {
  height: 1em;
  width: 1em;
  background-color: white;
  border: grey solid 0.08em;
  border-radius: 0.3em;
  padding-right: 0.2em;
  padding-left: 0.2em;
}

.checkCaptchaVerify {
  height: 1em;
  width: 1em;
  background-image: url(../../assets/img/greenCheckMark.png);
  background-size:  cover;
  background-repeat: no-repeat;
  border-radius: 0.3em;
  border: transparent solid 0.08em;

}

.textCaptcha {
  font-size: 60%;
  font-weight: bold;
  user-select: none;
  border-right: solid  0.5em transparent;
  border-left: solid 0.5em transparent;
  padding-left: 0.5em;
}

.logoCaptcha {
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.8);
  user-select: none;
}

.logoCaptchaDesign {
  width: 60%;
}
