.captchaCardDesign {
  background-color: rgb(255, 252, 252);
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.194)
  );
  height: 2.5em;
  width: 12em;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 0.3em;
  box-shadow: 0 0 0em 0.08em rgba(11, 11, 11, 0.415);
}

.checkCaptcha {
  height: 1em;
  width: 1em;
  background-color: white;
  border: grey solid 0.08em;
  border-radius: 0.3em;
}

.textCaptcha {
  font-size: 70%;
  font-weight: bold;
  user-select: none;
}

.logoCaptcha {
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.8);
  user-select: none;
}

.logoCaptchaDesign {
  width: 60%;
}
