.StatCardDesign {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
margin: 1em;
}

.cardTextElement {
    width: 100%;
}

.cardElement {
    height: 40%;
    width: 100%;
    margin: 0.1em;
    font-weight: bold;
    color: #ffffff;
    display: flex; 
    font-size: 100%;
    font-family: Futura,Open Sans,sans-serif;
    justify-content: center;
    align-items: center;
    text-shadow: 0.05em 0.05em 0.2em rgba(0, 0, 0, 0.977);
    user-select: none;
}

.cardDataElement {
    font-size: 120%;
    margin:0;
}


.pictureDesign {
    margin: 1em;
padding: 0.2em;
    margin: 0.5em;
    user-select: none;
}