.imageSlide {
  background-image: url("https://redkarstorage.blob.core.windows.net/dental-clinic-fsd/mujer-dentista-sonriente-uniforme-hablando-adolescente-clinica-dental.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
  width: 100vw;
  overflow-x: hidden;
}

.cardSlide  {
border: yellow solid 1em;
min-height: 90vh;
padding: 2em;
}

.homeClaimSlide {
  background-color: rgb(199, 199, 205);
  height: 100vh;
  padding-top: 15em;
  padding-bottom: 5em;
}

.titleServices {
  font-size: 150%;
  color: white;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.serviceCardContainer {
  background-color: #053c8fdd;
  border-radius: 1em;
  padding: 0.5em;
  width: 80%;
}

.titleUSP {
  font-size: 120%;
  color: white;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.USPCardContainer {
  background-color: #273750;
  padding: 0.5em;
  height: 10vh;
}

.teamCardDesign {
  background-color: red;
  border-radius: 1em;
  color: white;
  text-align: center;
}

.colCheck {
  border: green solid 1em;
  height: auto;
}

.callUsDesign {
  background-color: rgb(255, 255, 255);
  border-radius: 2em;
  color:#273750; 
  font-size: 160%;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  box-shadow: 0.05em 0.1em 0.3em rgba(0, 0, 0, 0.774);
  font-weight: bold;
}


@media (max-width: 768px) {
  .imageSlide {
    margin: 0;
    padding-top: 25%;
  }
  .serviceCardContainer {
    margin: 0;
    margin-bottom: 2em;
    width: 100%;

  }
  .teamCardDesign {
    font-size: 70%;
  }
  .callUsDesign {
font-size: 100%;
  }
  .cardSlide  {
    padding: 0em;
    }

}
