.homeDesign {
  height: 85vh;
  width: 100vw;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}
.slideHomeContainer {
  height: 100%;
  width: 60%;
  background-color: rgb(53, 51, 51);
  background-image: url(/src/assets/img/backgroundSlideHome.jpg); /* <a href="https://www.freepik.es/foto-gratis/dentista-profesional-masculino-guantes-mascara-discutir-como-vera-tratamiento-dientes-paciente_17751921.htm#query=dentist%20smile&position=0&from_view=search&track=ais">Imagen de ArthurHidden</a> en Freepik */
  display: flex;
  align-items: flex-end;
  background-size: cover;
  position: relative;
}

p {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.overlaySlideHome {
  background-color: #3082fd;
  height: 60%;
  width: 30%;
  border-top-right-radius: 40em;
  position: absolute;
}

.overlaySlideHome2 {
  height: 30%;
  width: 100%;
  position: absolute;
  background-color: #3082fd;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.372)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addresContainer {
  height: 80%;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.mapContainer {
  height: 70%;
  width: 80%;
  background-image: url(./mapsDefaultImg.png);
  background-size: cover;
  background-position: center;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.mapTitleContainer {
  color: white;
}

.logoOverlaySlideHome {
  padding-right: 35%;
  padding-top: 18%;
}

.overlaySlideHome {
  background-color: #3082fd;
  height: 60%;
  width: 30%;
  border-top-right-radius: 40em;
  position: absolute;
}

.logoOverlaySlideHome:hover {
  /* Activar la animación en el hover */
  animation: shake 1s;
}

@keyframes shake {
  /* Definir la animación de sacudida */
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px) rotate(-5deg);
  }
  20% {
    transform: translateX(10px) rotate(5deg);
  }
  30% {
    transform: translateX(-10px) rotate(-5deg);
  }
  40% {
    transform: translateX(10px) rotate(5deg);
  }
  50% {
    transform: translateX(-10px) rotate(-5deg);
  }
  60% {
    transform: translateX(10px) rotate(5deg);
  }
  70% {
    transform: translateX(-10px) rotate(-5deg);
  }
  80% {
    transform: translateX(10px) rotate(5deg);
  }
  90% {
    transform: translateX(-10px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}
.specialitiesHomeContainer {
  width: 70%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.specialityHomeContainer {
  width: auto;
  height: auto;
  margin: 0.5em;
}

.appointmentHomeContainer {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #3082fd;
  background-image: linear-gradient(
    to bottom,
    transparent 70%,
    rgba(0, 0, 0, 0.372)
  );
  /* background-image: url(../../assets/img/cardBackgroundTexture.svg);
    background-repeat: repeat;
    background-size: auto; */
}

.appointmentCardContainer {
  height: 60%;
  width: 90%;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
}

.appointmentHomeTitle {
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  text-align: center;
  width: 100%;
  height: 20%;
  font-size: 250%;
  background-color: #cb1111;
  /* ff6c03 */
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.174)
  );
  color: white;
  font-family: emoji;
  font-weight: bold;
  text-shadow: 0.04em 0.02em 0.01em rgba(0, 0, 0, 0.842);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideAppointmentHomeContainer {
  height: 93%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stadisticsData {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.dataStat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
