.loginFormTitle {
    font-size: 175%;
    background-color: rgb(34, 114, 34);
    width: 100%;
    text-align: center;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    color: white;
    font-weight: bold;
}

.catchaHomeContainer {
    width: 50%;
    display: flex;
    justify-content: center;
}

@media (max-width: 576px) {
    .catchaHomeContainer {
        width: 70%;
        display: flex;
        justify-content: center;
    }
    }
  
  