.redesignButton {
  margin: 0.5em;
  background-color: rgb(0, 119, 255);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: white;
  border-radius: 0.3em;
  user-select: none;
  cursor: pointer;
}

.redesignButton:hover {
  background-color: rgb(17, 71, 132);
}

.redesignButton:active {
  transform: scale(0.9);
}

@media (max-width: 576px) {
  .redesignButton,
  .redesignButton2,  .titleAppointmentDesign {
    font-size: 80%;
  }

  .titleUserDesign {
    font-size: 120%;
  }

}
@media (min-width: 576px) {
   
    .titleAppointmentDesign{
      font-size:150%
    }
    .titleUserDesign {
font-size:250%
    }
 
}
.redesignButton2 {
  background-color: rgb(255, 128, 0);
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  color: white;
  border-radius: 0.3em !important;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redesignButton2:hover {
  background-color: rgb(17, 71, 132);
}

.menuFontDesign {
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  color: rgb(38, 37, 37);
}

.searchFormDesign {
  margin-right: 2em;
  border-radius: 1em !important;
}

.titleAppointmentDesign {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  
}

.titleUserDesign {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-weight: bold;
margin-bottom: 0.5em;
text-align: center;
}