.menuDesign {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menuLink {
  margin-right: 2em;
  cursor: pointer;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
  border-bottom: 0.2em transparent solid;
  font-weight: bold;
  font-size: 110%;
  height: 100%;
  padding-right:0.2em;
  padding-left:0.2em;

}

.linksDesign {
  cursor: pointer;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
  border-bottom: 0.2em transparent solid;
  font-size: 110%;
  height: 100%;
  justify-content: center;
  width: 50vw;
  display: flex;
}

.linksDesign {
  cursor: pointer;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
  border-bottom: 0.2em transparent solid;
  font-size: 110%;
  height: 100%;
  justify-content: center;
  width: 50vw;
  display: flex;
}

.homeNavbarLink:hover {
  border-bottom: 0.1em white solid;
  transform: scale(1.1);
  color: white;
}

.homeNavbarLink {
  border-bottom: 0.2em transparent solid;

}

.menuItem {
  margin-right: 1em;
  margin-left: 1em;
  color:white;
  border-bottom: 0.2em transparent solid;
}

.menuItem:hover {
  border-bottom: 0.2em white solid;
transform: scale(1.2);
}


.loginDesignAjust {
  display: flex;
  justify-content: center;
}

#navbarRisaldent {
  background-color: #053c8fe6;
  position: fixed;
  backdrop-filter: invert(80%);
  user-select: none;
  width: 100vw;
}


@media (max-width: 576px) {
  .linksDesign {
width: auto;
  }
}

.authLinksDesign{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
}