.simpleLoginCardDesign {
    height: auto;
    width: 100%;
    margin-top: 2em;
}

.loginFormContainer {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  
.loginFormTitle {
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    text-align: center;
    width: 100%;
    height: 30%;
    font-size: 200%;
    background-color: #079a02;
    /* ff6c03 */
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.174)
    );
    color: white;
    font-family: emoji;
    font-weight: bold;
    text-shadow: 0.04em 0.02em 0.01em rgba(0, 0, 0, 0.842);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin-bottom: 1em;
  }


  .passForgot{
    margin-bottom: 1em;
    color: rgb(24, 24, 24);
    font-style: italic;
    user-select: none;
    cursor: pointer;
  }

  .passForgot:hover{
    text-decoration: underline;
  }

  .textInput {
    border: rgb(37, 36, 36) solid 0.1em;
    border-radius: 0.5em;
  }
  
  
  .errorText {
    color: red;
  }

  .errorInput {
    border: red solid 0.2em;
    border-radius: 0.5em;
  }
