.profileButtonCardDesign {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.profileAvatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.profileAvatar:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.avatarImage {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
}

.avatarImageDesign {
  height: 100%;
  border-radius: 50%;
  filter: brightness(3);
}

.profileName {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50%;
  font-weight: bold;
  user-select: none;
  height: 50%;
  margin-top: 1.5em;
}

.profileLogOut {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  user-select: none;
  cursor: pointer;
  margin-left: 1em;
  border-radius: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.profileLogOut:hover {
  transform: scale(1.1);
  border-radius: 1em;
  background-color: white;
  color: #023088;
  transition: 0.3s;
}

.logoutButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.3em;
}
