.footerDesign {
    height: 5vh;
    width: 100vw;
    background-color: #0d0d0e;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: white;

}

.footerElement {
    border-right: solid white 0.1em;
    border-left: solid white 0.1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    cursor: pointer;
}

.footerElements
{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
position: absolute;
user-select: none;
}

#mySignature {
    color: white;
    width: 25%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: cursive;
    padding-right: 2em;
    cursor: pointer;
}


