
.phoneHomeContainer {
    font-family: fantasy;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0.05em 0.1em 0.01em rgb(0, 0, 0);
    margin-top: 1.55em;
    background-color: #0d479f;
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.362)
    );
    width: 80%;
    user-select: none;
    border-radius:1.5em;
    cursor: pointer;
  
  }
  
  .phoneHome {
    font-size: 300%;
    font-weight: bold;
  
  }
  
  .textPhoneHome {
    font-size: 200%;
    margin-right: 0.5em;
  }
  
  .phoneLogoHome {
    margin-right: 0.3em;
    font-size: 300%;
    font-weight: bold;
  }
  